/* NAVIGATION BAR */
#nav-bar{
  postion: sticky;
  top: 0;
  z-index: 10;
}

.navbar{
  background-color: #fff;
}

.navbar-brand img{
  height: 60px;
  width: 170px;
  padding-left: 30px;
}

.navbar-nav li{
  padding: 0 10px;
}

.navbar-nav li a{
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover{
  color: #007bff!important;
}

.navbar-toggler{
  border: none!important;
}

.nav-link{
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
}

/* SLIDER */
#slider{
  width: 100%;
}
#headerSlider img{
  max-height: 700px!important;
}

.carousel-caption{
  top: 80%;
  transform: translateY(-80%);
  bottom: initial!important;
}
.carousel-caption h5{
  color: #fff;
  font-size: 50px;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
}

.carousel-item{

}

.image-box__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.image-box__overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* ABOUT */
#about{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}

#about button{
  margin-top: 20px;
  margin-bottom: 30px;
}

.about-content{
  padding-top: 20px;
}

.skills-bar p{
  margin-bottom: 6px;
  font-weight: 600;
}

.progress-bar{
  border-radius: 16px;
}

.progress{
  border-radius: 16px!important;
  margin-bottom: 20px;
}

/* SERVICES */
#services{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/banner1.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef!important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#services h1{
  text-align: center;
  color: #efefef!important;
  padding-bottom: 10px;
}

#services h1::after{
  content: '';
  background: #efefef;
  display: block;
  height: 3px;
  width: 150px;
  margin: 20px auto 5px;
}

.services{
  margin-top: 40px;
}

#services p{
  font-size: 14px;
  margin-top: 20px;
  color: #ccc;
}

.icon{
  font-size: 40px;
  margin: 20px auto;
  padding-top: 10px;
  height: 80px;
  width: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.services .col-md-3:hover{
  background: #007bff;
  cursor: pointer;
  transition: 0.7s;
}

/* TEAM */
#team{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}

#team h1{
  text-align: center;
  color: #555!important;
  padding-bottom: 10px;
}

#team h1::after{
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 150px;
  margin: 20px auto 5px;
}

.profile-pic{
  margin-top: 25px;
}

.profile-pic .img-box{
  opacity: 1;
  display: block;
  position: relative;
}

.profile-pic .img-box img{
  filter: grayscale(1);
  width: 100%;
  transition: 0.6s;
}

.profile-pic .img-box img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transition: 0.4s;
}

.profile-pic h2{
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #007bff!important;
}

.profile-pic h3{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

#team .fa{
  height: 25px;
  width: 25px;
  color: #007bff!important;
  padding: 4px;
  border-radius: 50%;
}

.img-box ul{
  padding: 15px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.img-box ul li{
  padding: 5px;
  display: inline-block;
  background: rgba(0,0,0, 0.899);
}

.img-box:hover ul{
  opacity: 1;
}

.img-box ul, img-box ul li{
  transition: 0.5s;
}

/* PROMO */
#promo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner1.jpg);
  background-size: cover;
  background-position: center;
  color:  #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 100px;
  font-family: sans-serif;
  font-size: 38px;
}

#btn_middle{
  padding: 10px 20px;
}

/* PRICING */
#price{
  padding: 40px 0;
  background: #efefef;
}
#price h1{
  text-align: center;
}

#price h1:after{
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 150px;
  margin: 20px auto 30px;
}

.single-price{
  margin: 10px auto;
  display: inlne;
  float: left;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
}

.single-price:hover{
  box-shadow: 0 2px 20px #333;
}

.price-head{
  background-color: #2196f3;
  display: inline;
  float: left;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
}

.price-head h2{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
  text-transform: none;
}

.price-head p{
  font-size: 25px;
  color: #ccc;
  font-weight: bold;
  line-height: 30px;
}

#price span{
  font-size: 15px;
}

.price-content{
  display: inline;
  float: left;
  width: 100%;
  padding-right: 40px;
  padding-top: 20px;
}

.price-content ul li{
  margin: 0;
  border-bottom: 1px solid #A9A9A9;
  padding: 6px 5px;
  list-style: none;
}

.price-content ul li last-child{
  border: none;
}

.fa-check-circle{
  color: green!important;
}

.fa-times-circle{
  color: red!important;
}

.price-button{
  display: inline;
  float: left;
  padding: 15px 15px 30px;
  text-align: center;
  width: 100%;
}

.buy-btn{
  background-color: #2196f3;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  padding: 15px 50px;
  transition: 0.5s;
  color: white;
}

.buy-btn:hover{
  border-color: 1px solid #fff;
  background-color: #3f51b5;
}

a{
  text-decoration: none!important;
  color: #fff!important;
}

.container h1{
  text-align: center;
}

.container h1::after{
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 150px;
  margin: 20px auto 30px;
}

/* TESTIMONIALS */
#testimonials{
  padding-top: 50px;
  padding-bottom: 50px;
}

#testimonials .row{
  margin-top: 30px;

}

.user{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.col-md-4{
  margin: 40px auto;
}

.profile{
  padding: 70px 10px 10px;
  background-color: #efefef;
  transition: 0.4s;
}

.profile img{
  top: -60px;
  position: absolute;
  left: calc(50%-60px);
  border: 10px solid #fff;
}

.profile h3{
  font-size: 20px;
  margin-top: 15px;
  color: #007bff;
}

#testimonials span{
  font-size: 14px;
  color: #333;
}

blockquote{
  font-szie: 16px;
  line-height: 30px;
}

blockquote::before{
  content: '\93';
  font-size: 50px;
  color: #007bff;
  position: relative;
  line-height: 20px;
  bottom: -15px;
  right: 5px;
}

blockquote::after{
  content: '\94';
  font-size: 50px;
  color: #007bff;
  position: relative;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
}

.profile:hover{
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.5s;
}

/* GET IN TOUCH */
#contact{
  background-color: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.contact-form{
  padding: 15px;
}

.form-control{
  border-radius: 0!important;
  border: 1px solid gray !important;
}

.form-control::placeholder{
  color: #999!important;
}

.follow{
  background: #fff;
  padding: 10px;
  margin: 15px;
}

#contact .fa{
  margin: 10px;
  font-weight: bold;
  color: #007bff;
  font-size: 20px;
}

/* FOOTER */
#footer{
  background: #333;
  color: #fff;
  padding: 20px;
}
